<div class="wine_tabs_wrap" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeRestorePass()" aria-label="Close">x</button>
    <h2 class="modal-title">Restore your password</h2>
  </div>
  <div class="modal-body">
    <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">

      <div class="wine_tabs_box">
        <div class="login_form">
         <div class="col-lg-12">
          <div class="form-group" show-errors>
            <input type="email" id="reset-pass" name="email" ng-model="credentials.email" placeholder="Email" required>
            <div ng-messages="forgotPasswordForm.email.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enter a Email.</p>
            </div>
          </div>
        </div>
      </div>
      <alert type="danger" ng-show="error" class="text-center text-danger">
        <span ng-bind="error"></span>
      </alert>
    </div>


    <div class="text-center form-group login">
      <button type="submit" class="btn-block" style="padding-bottom: 15px;">Submit</button>
    </div>
    <div ng-show="error" class="text-center text-danger">
      <strong ng-bind="error"></strong>
    </div>
    <div ng-show="success" class="text-center text-success">
      <strong ng-bind="success"></strong>
    </div>
  </form>
</div>
</div>